/* Breakfast: brown-orange */
/* Lunch: green */
/* Dinner: blue */
.breakfast {
    background-color: #8B4000;
}
.lunch {
    background-color: #376331;
}
.dinner {
    background-color: #502cff;
}

.breakfast_text {
    color: #c5926f;
}
.lunch_text {
    color:  #8da687;
}
.dinner_text {
    color:  #a47cff;
}

h1{
    color: lightgray;
}

h5{
    color: lightgray;
}
p{
    color: lightgray;
}