<!DOCTYPE html>
<html lang="en">

  <head>
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <ul class="tabs" data-tabs id="home-tabs">
      <li class="tabs-title is-active"><a href="#tab1">Search</a></li>
      <li class="tabs-title"><a href="#tab2">Favorites</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="home-tabs">
      <div class="tabs-panel is-active" id="tab1">
        <h3>Search for any college</h3>
        <script src="../static/js/home.js"></script>
      </div>
      <div class="tabs-panel" id="tab2">
        <h3>View your favorite colleges</h3>
        <ul id="collegeList">
          <li>
                      </li>
        </ul>
      </div>
    </div>

    <br>

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

  </body>

</html>